/* Escribe tu css aqui */
div {
height:30%;
width:30%;
font-size: 150%;
margin-bottom:2%;
display: block;
}

p {
display: block;
}
.amarillo{
background-color:yellow;
}

.rojo{
background-color:red;	
}
.pd15{
	padding-left:2%;
}
.pdt5{
padding-top:2%;	
}
 .may{
text-transform: uppercase;
 }
